.body {
	padding-top: 100px;
}

body {
	margin: 0px;
	padding: 0px;
}

h2,
h3,
h4,
label,
p,
strong,
.paragraph,
.navBarButton {
	font-family: Montserrat !important;
	color: #404041;
	text-align: justify;
	box-sizing: border-box;
}

a {
	background-color: transparent;
	font-size: 20px !important;
	font-weight: 500;
	color: #404041;
	line-height: 1.428571429;
}

blockquote {
	padding: 12.5px 25px;
	margin: 0 0 25px;
	font-size: 22.5px;
	border-left: 5px solid #eee;
	line-height: 1.428571429 !important;
	box-sizing: border-box;
	font-weight: 300 !important;
}

h3 {
	font-size: 28px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.00938em;
}

h4 {
	margin-top: 12.5px;
	margin-bottom: 12.5px;
}

hr {
	margin-top: 25px;
	margin-bottom: 25px;
	border-top: 1px solid rgb(255, 255, 255);
	box-sizing: content-box;
	height: 0;
	color: rgb(238, 236, 236);
}

label {
	font-size: 18px;
	display: inline-block;
	margin-bottom: 5px;
	font-weight: 500;
}

p,
.paragraph {
	font-size: 18px;
	font-weight: 300;
	line-height: 1.5;
	margin: 0 0 12.5px;
}

span {
	font-weight: 700;
}

h2 strong {
	font-weight: 520;
	font-size: 38px;
	line-height: 1.1;
}

h3 strong {
	font-weight: 500;
	font-size: 28px;
	line-height: 1.1;
}

.textArea {
	width: 1170px;
	margin: 0 auto;
}

.navBarButton {
	font-weight: lighter !important;
	font-size: 17px !important;
	text-align: center !important;
	text-transform: none !important;
}

.consultarButton {
	font-family: Montserrat !important;
	font-weight: 500 !important;
	color: #9d2449 !important;
	font-size: 18px !important;
	border-radius: 3px !important;
	padding: 10px 25px !important;
	display: inline-block !important;
	margin-bottom: 0 !important;
	white-space: nowrap !important;
	line-height: 1.428571429 !important;
	text-transform: none !important;
}

.css-1wypye2-MuiGrid-root, .MuiGrid-root.MuiGrid-container.css-hf3zvx  {
	width: 90% !important;
}